body{
    background-color: rgb(60, 0, 36);
    font-size:24px;
    text-align: justify;
    color: #fff;
}
img{
    max-width: 5vw;
    max-height: 5vh;
    position: absolute;
    top:10px;
}
#mail{
    text-align: center;
    position: fixed;
    bottom: 40px;
    left:40%;
    box-sizing: border-box;
}
.textu{
    position:absolute;
    width: 75vw;
    left: 50%;
    transform: translateX(-50%);
}
#nusea{
    max-width: 12vw;
    max-height: 12vh;
    top: 5vh;
}